---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <!-- <h3>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h3> -->
          <h2>{{ site.title }}</h2>
          <hr class="small">
          <h4>Montreal, Canada on December 12th @ NIPS'15 </h4><br>
          <div class="sub-heading">Speakers: <b>Wendy Cho, Kamalika Chaudhuri, Nando de Freitas, Stephen Hardy</b><br>
            - with a special issue on the Journal of Privacy and Confidentiality -<div>
            </div> <br>
          <div class="sub-heading">New paper submission deadline: 17 Oct 2015</div>
          </div>
          </div>
          <div class="photo-copyright">Original photo: Montreal night view by
            <a href="https://commons.wikimedia.org/wiki/User:Paolostefano1412" target="_blank">Paolo Costa Baldi</a> /
            <a href="https://creativecommons.org/licenses/by-sa/3.0/" target="_blank">CC-BY-SA 3.0</a></div>
          </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          {{ content }}
        </div>
      </div>
    </div>

    <hr>
